/* Overrides */
body {
  margin: 0px;
}

/* Parallax effekten */
.parallax-container {
  background-attachment: fixed;

  background-position: center;
  height: 100vh;
}

.image-1 {
  background-image: url(assets/dunes.avif);
}

.image-2 {
  background-image: url(assets/street.avif);
}

.buffer {
  height: 20vh;
  background-color: rgb(14, 21, 26);
}

/* Utility */
.flex-col {
  display: flex;
  flex-direction: column;
}

.justify-center {
  justify-content: center;
}


/* Effect */
.glass-smoked {
  /* From https://css.glass */
  background: rgba(18, 18, 18, 0.21);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(12px);
  -webkit-backdrop-filter: blur(12px);
}